@model ExpressVoiture.Data.Voiture


<h2>Voiture ajoutée avec succès !</h2>
<p>La voiture a été publiée avec succès dans la liste des voitures à vendre.</p>
<a asp-action="Index" class="btn btn-primary">Retour à la liste</a>
