
:root {
    --color-primary: #1A2A3A; 
    --color-secondary: #E67E22; 
    --color-text-primary: #FFFFFF; 
    --color-text-secondary: #ECF0F1; 
    --color-background-alt: #34495E;
    --color-accent: #3498DB; 
}

html, body {
    width: 100%;
}
body {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.83px;
    text-align: center;
    background-color: var(--color-primary);
    color: var(--color-text-primary);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    letter-spacing: -0.07em;
    color: var(--color-text-primary);
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

/* Styles communs pour tous les formulaires */
.form-container {
    max-width: 400px; 
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-input,
.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid var(--color-brown);
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

    .form-input::placeholder,
    .form-control::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }

.form-submit {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

input[readonly] {
/*    background-color: #f8f9fa;
*/    color: #212529;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.navbar-light .navbar-nav .nav-link {
    color: var(--color-primary);
}
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--color-accent);
}

.btn-primary {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.btn-primary:hover {
    background-color: var(--color-accent);
}

.btn-secondary {
    background-color: var(--color-background-alt);
    color: var(--color-text-primary);
}

    .btn-secondary:hover {
        background-color: var(--color-secondary);
    }

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

    .table th, .table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .table th {
        background-color: var(--color-accent);
        color: var(--color-text-primary);
    }

    .table td {
        color: var(--color-text-secondary);
    }

        .table td img {
            max-width: 100px;
            border-radius: 8px;
        }
.row {
    padding-top: 20px;
}

.img-fluid { 
    width: 30vw;
    border-radius: 8px;
    object-fit: cover;
}

.main-content {
    margin-top: 10vh;
}

.alert {
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
}

.alert-danger {
    background-color: #CF6679; 
    color: var(--color-text-primary);
}

@media (min-width: 320px) and (max-width: 430px) {
    html, body {
        width: fit-content;
    }

    .img-fluid {
        width: 80vw;
    }
}


@media (max-width: 1024px) {

    .voiture-card {
        flex-direction: column;
        align-items: center;
    }

        .voiture-card img {
            width: 100%;
            height: auto;
        }

    .navbar-toggler {
        margin-left: auto;
    }
}
