@using Microsoft.AspNetCore.Identity
@using ExpressVoiture.Data
@inject SignInManager<Utilisateur> SignInManager
@inject UserManager<Utilisateur> UserManager

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="#">Express Voiture</a> <!-- Titre à gauche -->
        <div class="collapse navbar-collapse justify-content-end">
            <!-- Justification à droite -->
            <ul class="navbar-nav">
                <!-- Liste de navigation à droite -->
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Accueil</a> <!-- Lien vers la page d'accueil -->
                </li>

                @if (SignInManager.IsSignedIn(User)) // Vérifie si l'utilisateur est connecté
                {
                    @if (User.IsInRole("Admin")) // Vérifie si l'utilisateur est admin
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Voitures" asp-action="Create">Ajouter une voiture</a> <!-- Lien vers le formulaire d'ajout -->
                        </li>
                    }

                    <li class="nav-item">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link btn btn-link text-dark">Se déconnecter</button> <!-- Lien vers la déconnexion -->
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">S'inscrire</a> <!-- Lien vers l'inscription -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Se connecter</a> <!-- Lien vers la connexion -->
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
